<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
            integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <title>SpringBoot-Maybank</title>
</head>
<body>
<div class="container">
    <h1>Welcome to Github Issue Tracking And it Works</h1>
    <div class="login">
        <form action="#" th:action="@{/github/login}" th:object="${github}" method="get">
            <label>Please enter github username</label>
            <input type="text" th:field="*{login}"/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
<!--    <dia class="user-info" th:object="${github_user}">-->
<!--        <label> Succesful Login as : </label>-->
<!--        <p th:field="*{login}"></p>-->
<!--        <p th:field="*{url}"></p>-->
<!--    </dia>-->
    <div class="action">
        <div class="button">
            <a th:href="@{/issues}">Create Issue</a>
        </div>
        <div class="button">
            <a th:href="@{/github/login}">Login</a>
        </div>
        <div class="button">
            <a th:href="@{/issues(id=3)}">Fetch Issue</a>
        </div>
    </div>
    <div class="listing">
        <div>
            1. Issue one
        </div>
        <div>
            2. Issue two
        </div>
    </div>
    <!--    <table>-->
    <!--        <thead>-->
    <!--        <tr>-->
    <!--            <th> User</th>-->
    <!--            <th> Issue Id</th>-->
    <!--            <th> Label </th>-->
    <!--        </tr>-->
    <!--        </thead>-->
    <!--        <tbody>-->
    <!--        <tr th:if="${issues.empty}">-->
    <!--            <td colspan="2"> No Issues Available, please fetch, or create a local issue </td>-->
    <!--        </tr>-->
    <!--        <tr th:each="issue : ${issues}">-->
    <!--            <td><span th:text="${issue.user}"> User </span></td>-->
    <!--            <td><span th:text="${issue.issueId}"> Issue Id </span></td>-->
    <!--            <td><span th:text="${issue.label}"> Label </span></td>-->
    <!--        </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->
</div>
</body>
</html>
